/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F9FA;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Login card styling */
  .login-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
  }
  
  .login-card h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .login-card label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .login-card input[type="email"],
  .login-card input[type="password"] {
    background-color: #F7F9FA;
    border: none;
    border-radius: 8px;
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  
  .login-card input[type="email"]:focus,
  .login-card input[type="password"]:focus {
    box-shadow: none;
  }
  
  .login-card .form-check-input {
    margin-right: 5px;
  }
  
  .login-card .form-check-label {
    font-size: 14px;
    font-weight: 500;
  }
  
  .login-card .btn-primary {
    background-color: #8A4B08;
    border-color: #8A4B08;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
  }
  
  .login-card .btn-primary:hover {
    background-color: #AD5F09;
    border-color: #AD5F09;
  }
  
  /* Image styling */
  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  